<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加书籍</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css">
</head>
<style>
    body {
        display: flex;
        justify-content: center;
        margin-top: 260px;

        width: 100%;
        height: 100vh;
        background-color: #3eae7b;
    }

    .box {
        display: block;
    }

    .bt {
        display: flex;
        align-items: center;
        margin-left: 590px;

    {#background-color: #761c19;#}
    }

</style>
<body>
<div class="box">
    <h2 style="text-align: center; margin-bottom: 35px">添加图书</h2>
    <form action="{% url "add_book" %}" method="post">
    {% csrf_token %}
        <table class="table-bordered" border="1">
            <thead>
            <tr>
                <th>书名</th>
                <th>出版社</th>
                <th>作者</th>
                <th>价格</th>
                <th>出版日期</th>
                <th>简介</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" name="title" style="width: 100px;background-color: #3eae7b;"></td>
                <td>
                    <select name="publisher" style="background-color: #3eae7b;">
                        {% for publisher in publisher_list %}
                            <option value="{{ publisher.id }}">{{ publisher.name }}</option>
                        {% endfor %}
                    </select>
                </td>

                <td>
                    <select name="author_id" style="width: 105px; background-color: #3eae7b;">
                        {% for author in author_list %}
                            <option value="{{ author.id }}">{{ author.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input type="number" style="width: 70px;background-color: #3eae7b;" name="price"></td>
                <td><input type="date" name="publisher_day" style="background-color: #3eae7b;"></td>
                <td><input type="text" name="introduce" style="background-color: #3eae7b;"></td>
            </tr>
            </tbody>
        </table>
        <div class="bt">

            {% csrf_token %}
            <input type="submit" value="提交" class="btn btn-primary" style="line-height:15px;margin: 5px">
            <a href="{% url "books_list" %}" class="btn btn-primary" style="line-height: 15px;margin: 5px">取消</a>

        </div>
    </form>
</div>


</body>
</html>